Scrapling/
references/Scrapling/
opensource-projects/

.DS_Store
*.log
*.sqlite
*.sqlite3
*.db
coverage.out
bin/
dist/
tmp/
.pi/development-loop.json
.pi/development-loop/
.pi/auto-folder-refactor-sessions/
.pi/auto-folder-refactor-state/
.pi/candidates-folder-refactor/
.pi/folder-refactor/
**/.pi/candidates-folder-refactor/
